.btn {
    min-width: 200px;
    height: 32px;
    background: #5DA9E0;
    border: none;
    border-radius: 0px;
    color: #FFFFFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    &:hover {
        color: #ffffff;
        background-color: #f5638c;
    }
    &:disabled {
        background: #E5E5E5;
        pointer-events: none;
    }
}






