.cards {
    width: 100%;
    margin-bottom: 55px;
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        width: 300px;
        margin-top: 20px;
    }
    &__title {

    }

    &__desc {
        margin: 0;
        padding: 0;
        word-break: break-word;
    }
}